.plan {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan > div {
  margin: 12px 6px;
  padding: 6px;
  border: solid 1px gray;
  border-radius: 5px;
  color: rgb(49, 49, 49);
  background-color: rgb(251, 245, 238);
  box-shadow:
  -1px 1px 2px 0.5px rgb(175, 175, 175),
  inset -2px 2px 4px 2px rgb(253, 251, 248);
}

span {
  color: black;
  font-size: 16px;
  line-height: 28px;
}

.plan-main {
  width: calc(90vw - 66px);
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  height: 60px;
  width: 60px;
  font-weight: bold;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.plan-new {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.plan-new div {
  height: 45px;
  border: solid 1px gray;
  color: rgb(75, 75, 75);
  background-color: rgb(251, 245, 238);
  box-shadow:
  -1px 1px 2px 0.5px rgb(175, 175, 175),
  inset -2px 2px 4px 2px rgb(253, 251, 248);
  border-radius: 22.5px;
  text-align: center;
  line-height: 42px;
  width: 45px;
  font-size: 24px;
}