.plan {
  width: 90vw;
  max-width: 32em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan > a {
  margin: .7em .3em;
  padding: .3em;
  border: solid 1px gray;
  border-radius: .7em;
  color: rgb(49, 49, 49);
  background-color: rgb(251, 245, 238);
  box-shadow:
  -1px 1px 2px 0.5px rgb(175, 175, 175),
  inset -2px 2px 4px 2px rgb(253, 251, 248);
}

.plan-main {
  width: calc(100% - 4.6em);
  text-align: center;
  line-height: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button {
  height: 4.2em;
  width: 4.2em;
  font-weight: bold;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link {  
  margin: .5em 0 1.3em;
  display: flex;
  justify-content: center;
}

.plus {
  height: 2.6em;
  width: 2.6em;

  border-radius: 1.3em;
  border: solid 1px gray;
  background-color: rgb(251, 245, 238);
  box-shadow:
  -1px 1px 2px 0.5px rgb(175, 175, 175),
  inset -2px 2px 4px 2px rgb(253, 251, 248);

  text-align: center;
  line-height: 2.5em;
  font-size: 1.5em;
  color: rgb(75, 75, 75);
}