
.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.iflog-icon {
  width: 40px;
  margin-top: 1vw;
  margin-left: 1vw;
  filter: drop-shadow(0px 2px 2px rgb(100, 100, 100));
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.lists {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 3vw;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #000;
}


.logout {
  text-decoration: none;
  color: #000;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #000;
}

.sign-up {
  text-decoration: none;
  color: #000;
}