
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.icons {  
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
}
.iflog-icon {
  height: 1.9em;
  margin: .5em;
  filter: drop-shadow(0em .2em .05em rgb(100, 100, 100));
}

.iflog {
  font-size: 1.2em;
}
.nav {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.lists {
  display: flex;
  list-style: none;
  align-items: center;
  margin-right: 1em;
}


.user-nickname {
  text-decoration: none;
  margin-right: 1em;
  color: #000;
}


.logout {
  text-decoration: none;
  color: #000;
}

.login {
  text-decoration: none;
  margin-right: 1em;
  color: #000;
}

.sign-up {
  text-decoration: none;
  color: #000;
}