/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
    box-sizing: border-box;
  }
  
html {
  height: 100%;
  background-color: rgb(250, 240, 225);
}

body {
  height: 100%; 
  
  font-size: 1.5em;
}
  
header {
  border: solid 2px rgb(219, 210, 205);
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.title-container {
  text-align: center;
  margin: .5em;
}
.title {
  font-size: 1.5em;
  padding: .7em;
}

.textarea {
  height: 2em;
  margin: .5em;
  padding-left: .5em;

  text-align: center;

  border: solid 1px gray;
  border-radius: 1em;
}

.field {
  margin-top: .9em;
  border-radius: .3em;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.field input {
  height: 2em;
  margin: .5em;
  padding-left: .5em;

  border: solid 1px gray;
  border-radius: 1em;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions input {
  height: 3.8em;
  margin: .9em;

  text-align: center;
  color: black;

  border: solid 1px gray;
  border-radius: .7em;

  box-shadow:
  -1px 1px 2px 0.5px rgb(175, 175, 175),
  inset -2px 2px 4px 2px rgb(253, 251, 248);


  background-color: rgb(251, 245, 238);
}

.checks {
  display: flex;
  align-items: center;
}

label, input[type='checkbox'] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

.hyper-link {
  padding: .5em 1em;
  margin: 1em 0;

  border: 1px solid gray;
  border-radius: .7em;
  box-shadow:
  -1px 1px 2px 0.5px rgb(175, 175, 175),
  inset -2px 2px 4px 2px rgb(253, 251, 248);

  background-color: rgb(251, 245, 238);
}