<%= render "shared/header" %>
<main>
  <div class="main">
    <div class="title-container">
      <h1 class="title">今日もおつかれさまでした！</h1>
    </div>
    <%# 連続日数contdays、ブランク日数（負の数）に応じたメッセージ %>
    <% if true %>
      <%= "○○日連続です！" %>
    <% else %>
      <%= "○○日ぶりの復帰です！" %>
    <% end %>
    <%# Userテーブルに画像のカラムを追加してここでuploadして表示 %>
    <%# @user.image %>
  </div>
</main>