<%= render "shared/header" %>
<main>
  <div class="main">
    <div class="title-container">
      <h1 class="title">計画</h1>
    </div>
    <div class="plan">
      <div class="plan-main">
        <div class="trigger">
          <span><%= "あいうえおかきくけこさしすせそたちつてと" %></span>したとき
        </div>
        <div class="habit">
          <span><%= "あいうえおかきくけこさしすせそたちつてと" %></span>をする
        </div>
      </div>
      <div class="button">
      <h3>記録</h3>
      </div>
    </div>
  </div>
</main>