.summary {
  width: 90vw;
  max-width: 32em;
  margin: 2em .3em;
  padding: .3em;

  text-align: center;

  color: rgb(49, 49, 49);
  background-color: rgb(251, 245, 238);

  border-radius: .7em;
  box-shadow:
  -1px 1px 2px 0.5px rgb(175, 175, 175),
  inset -2px 2px 4px 2px rgb(253, 251, 248);
}