<p><%= @resource.email %>いつもありがとうございます！</p>

<p>あなたのアカウントのパスワードを変更しますか？</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりがない場合、このメールは削除してください。</p>
<p>こちらのリンクから新しいパスワードを設定しない限り、パスワードは変更されません。</p>
