<p><%= @resource.email %>いつもありがとうございます！</p>

<p>誤ったパスワードが一定回数以上入力されたため、あなたのアカウントは一時的にロックされました。</p>

<p>こちらのリンクからロック解除してください：</p>

<p><%= link_to 'ロック解除', unlock_url(@resource, unlock_token: @token) %></p>
